.bt-message {
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	min-width: 180px;
	max-width: 360px;
	max-height: 700px;
	padding: 16px 18px;
	border: 1px solid var(--color-border-1);
	border-radius: 12px;
	background-color: var(--color-bg-1);
	color: var(--color-text-1);
	box-shadow: var(--shadow-floating);
	opacity: 0;
}
